@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');
* {
    font-family: 'Noto Serif KR', serif !important;
}

h1 {
    font-size: 4em;
}

.bg {
    background-color: #fdf2d2 !important;
}

.theme--light.v-sheet {
    background-color: #fdf2d2 !important;
}

.line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #7cb342;
    font-size: 14px;
    margin: 8px 0px;
}

.line::before,
.line::after {
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background: #7cb342;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    margin: 8px 0px;
}

.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgb(0, 0, 0, 0);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
    border-style: dotted;
}

.v-application .text-sm-body-1 .text-md-h6 {
    font-family: 'Noto Serif KR', serif !important;
}

.router-link-active {
    text-decoration: none;
}